
:root {
    --main-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #eab96a;
    --white-color: #FFF;
    --gray-1-color: #333;
}
@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro.otf') format('opentype');
    font-weight: 900;
}


@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro-Book-Alt.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro Bold Alt.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'IntroRustG';
    src: url('../fonts/IntroRustG-Base2Line.otf') format('opentype');
}
@font-face {
    font-family: 'MinionPro';
    src: url('../fonts/MinionPro-Regular.otf') format('opentype');
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Intro', sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IntroRustG', sans-serif;
}

p{
    font-family: 'MinionPro', sans-serif;
}

.container{
    max-width: 1140px;
    /*max-width: 960px;*/
}
.title{
    font-family: 'Intro', sans-serif;
    text-transform: uppercase;
}

.sub-title{
    font-family: 'Playfair Display', sans-serif;
}
.highlight-text{
    color: var(--accent-color);
}

.btn-coffee{
    font-family: 'Intro', sans-serif;
    font-weight: 500;
    font-size: 1rem !important;
    width: 250px;
    height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
}
/* Top Navigation*/

#top-navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-link-top{
    font-family: 'Intro', sans-serif;
    font-size: 1rem;
    color: var(--white-color);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-link-top.active{
    font-family: 'Intro', sans-serif;
    font-size: 1rem;
    color: var(--accent-color);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 19px;
    border-bottom: 3px solid var(--accent-color);
}

.logo-nav{
    width: 195px;
    position: absolute;
    top: 20px;
}
/* Hero Section*/

.hero-section{
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
}

.hero-section::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
    background-image: url('../images/hero-canva-pattern-bottom.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.sub-title-hero-top::after, .sub-title-hero-top::before{
    content: '';
    position: absolute;
    bottom: 10px;
    width: 100px;
    height: 4px;
    z-index: 10;
    background-image: url('../images/hero-arrow-element.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sub-title-hero-top::after{
    left: -150px;
}
.sub-title-hero-top::before{
    right: -150px;
    transform: scaleX(-1);
}

.star-hero-container{
    width: 100px;
    margin: 0 auto;
    color: var(--accent-color);
}

.star-hero-container i.fas{
    color: var(--accent-color);
    font-size: .75rem;
}

.button-arrow-down{
    border: 1px solid #FFF;
    padding: 20px;
    top: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 100px;
    color: var(--accent-color);
}

/* Program Section */
#program-section{
    background-image: url('../images/sand-bg-texture.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.coffee-beans {
    max-width: 800px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .2;
}

.title-program{
    height: 72px;
    display: flex;
    align-items: flex-end;
}

#program-tab{
    border-bottom: 1px solid var(--bs-gray-500);
}
#program-tab .nav-item{
        width: 100%;
        max-width: 240px;
}

#program-tab .nav-item .nav-link{
    width: 100%;
    color: var(--bs-gray-500);
}

#program-tab .nav-item .nav-link.active{
    width: 100%;
    color: var(--bs-gray-900);
}

.program-cost{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

.program-cost .cost-unity{
    font-size: 1.5rem;
}

.program-detail-title .floating-text{
    position: absolute;
    top: -90px;
    right: 0px;
    font-size: 12.5rem;
    font-family: 'Intro', sans-serif;
    font-weight: 700;
    opacity: .15;
    text-transform: uppercase;
}

ul.program-features-list {
    list-style-type: none;
}
ul.program-features-list li {
    display: flex;
}

ul.program-features-list li::before {
    content: "-";
    margin-right: 10px;
    color: black;
}
.table.table-bordered td, th {
    background: transparent;
}

td.checks-tables {
    width: 39px;
    text-align: center;
    vertical-align: center;
}

table.table.table-bordered p {
    margin-bottom: 0;
}


/* Gallery */
.slider-gallery .item{
    max-height: 500px;

    padding: 10px;
}
.slider-gallery > .item.slick-slide.slick-current.slick-active.slick-center{
    padding: 20px;
}
.slider-gallery img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}


#gallery-section{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    background-color: #222121;
    padding-top: 140px;
    background-image: url('../images/gallery/galerry-bg.webp');
    padding-bottom: 200px;
}


#gallery-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-image: url('../images/gallery/top-pattern-gallery.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#gallery-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background-image: url('../images/gallery/bottom-pattern-gallery.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}


.slick-prev img, .slick-next img {
    width: 130px;
    height: auto;
    position: absolute;
    top: 15px;
}
.slick-prev img{
    left: 20px;
}
.slick-next img {
    right: 20px;
    transform: scaleX(-1);
}

.sidebar-arrows-custom .slick-arrow {
    position: absolute;
    z-index: 10;
    background: transparent;
    outline: 0;
    border: 1px solid var(--accent-color);
    width: 40px;
    height: 40px;
    padding: 30px;
    bottom: -100px;
}

.sidebar-arrows-custom .slick-arrow.slick-prev {
    left: 34%;

}
.sidebar-arrows-custom .slick-arrow.slick-next {
    right: 34%;
}

.sidebar-arrows-custom .slick-dots {
    list-style: none;
}
.sidebar-arrows-custom .slick-dots {
    list-style: none;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 5px;
    position: relative;
    top: -45px;
}
.sidebar-arrows-custom .custom-pager {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 60px;
}
.sidebar-arrows-custom .slick-dots li button.slick-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    border: none;
    cursor: pointer;
    outline: none;
}
.custom-pager {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 10px;
    font-family: 'Playfair Display', sans-serif;
    align-items: baseline;
}

.gallery-coffee-top {
    width: 190px;
    position: absolute;
    height: auto;
    top:-100px;
    left: 0;
    z-index: 100;
}
.gallery-coffee-bottom{
    width: 225px;
    position: absolute;
    height: auto;
    bottom: -100px;
    right: 0;
    z-index: 100;
}
/* Estilo para el punto activo */
.sidebar-arrows-custom .slick-dots li.slick-active button.slick-dot {
    background-color: var(--accent-color);
}
/* Last section */
#bottom-section{
    background-image: url('../images/sand-bg-texture.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Testimonial */
#testimonial-section{
    padding-bottom: 100px;
}
.avatar-testimonial{
    width: 160px;
}
div#partners-section {
    background: rgba(0, 0, 0, 0.05);
    padding-top:  20px;
}

.custom-navigation-slider .slick-dots {
    position: absolute;
    bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.custom-navigation-slider .slick-dots li {
    margin: 0 5px;
}

.custom-navigation-slider .slick-dots li button.slick-dot {
    width: 8px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--bs-gray-800);
    border: none;
    cursor: pointer;
    outline: none;
}

.custom-navigation-slider .slick-dots li.slick-active button.slick-dot {
    background-color: var(--accent-color);
}
.custom-navigation-slider  .slick-prev, .custom-navigation-slider .slick-next {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.custom-navigation-slider  .slick-prev {
    left: 10px;
}

.custom-navigation-slider  .slick-next {
    right: 10px;
}

.custom-navigation-slider  .slick-prev img, .custom-navigation-slider .slick-next img {
    width: 30px;
    height: auto;
}
/* Questions sections */

#questions-section{
    padding-top: 100px;
    overflow-x: hidden;
}
.coffee-section-462{
    position: absolute;
    right: 0;
    bottom: 0;
}
input.form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--bs-gray-900);
    border-radius: 0;
    font-weight: 900;
    font-size: 0.75rem;
    padding: 0 0 5px;
}
button.btn.btn-form {
    border: 1px solid var(--bs-gray-900);
    width: 220px;
    border-radius: 0;
    font-weight: 700;
    padding: 12px 0;
    position: relative;
}
button.btn.btn-form::after {
    position: absolute;
    content: "";
    top: 0;
    right: -100px;
    width: 190px;
    height: 50px;
    background-image: url('../images/gallery/arrow-send.svg');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center center;
}
.coffee-element-question{
    max-width: 350px;
    height: auto;
}
.coffee-element-question.coffee-section-element {
    position: absolute;
    bottom: 0;
    right: -220px;
    transform: scaleY(-1);
    opacity: 0.2;
}

.coffee-section-element-blur {
    width: 450px;
    position: absolute;
    height: auto;
    bottom: 50px;
    left: 0;
    z-index: 100;
}
/* Footer section */

footer{
    background-image: url('../images/footer/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-image: url('../images/footer/Rectangle-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}